/* Global styling */
body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
}

#lobby {
  margin-top: 50px;
}

#status {
  font-size: 1.2em;
  margin-top: 20px;
  color: #333;
}

#roomName {
  padding: 10px;
  font-size: 1.2em;
  margin: 10px;
  width: 250px;
  border-radius: 5px;
  border: 1px solid #ccc;
  text-align: center;
}

.moveButton {
  padding: 10px 20px;
  font-size: 1.2em;
  margin: 10px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  background-color: #4CAF50;
  color: white;
  transition: background-color 0.3s ease;
}

.moveButton:disabled {
  background-color: gray;
  cursor: not-allowed;
}

.moveButton:hover:not(:disabled) {
  background-color: #45a049;
}

#leaveButton {
  padding: 10px 20px;
  font-size: 1.2em;
  margin: 20px;
  background-color: #f44336;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  transition: background-color 0.3s ease;
}

#leaveButton:hover {
  background-color: #e53935;
}

#result {
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 20px;
  color: #333;
}

/* Styling for buttons container */
div {
  margin-top: 20px;
}
