body {
    font-family: sans-serif;
    text-align: center;
    background: #111;
    color: #fff;
  }
  .container {
    margin-top: 50px;
  }
  .choices button {
    font-size: 20px;
    margin: 10px;
    padding: 10px 20px;
    cursor: pointer;
  }

    #lobby {
      margin-top: 50px;
    }
    #status {
      font-size: 1.2em;
      margin-top: 20px;
    }
    #roomName {
      padding: 10px;
      font-size: 1em;
      margin: 10px;
    }
    .moveButton {
      padding: 10px 20px;
      font-size: 1.2em;
      margin: 10px;
      cursor: pointer;
    }
    .moveButton:disabled {
      background-color: gray;
      cursor: not-allowed;
    }
    #leaveButton {
      padding: 10px 20px;
      font-size: 1.2em;
      margin: 20px;
      background-color: #f44336;
      color: white;
      cursor: pointer;
    }
